<%-- 
MIT License

Copyright (c) [2020] [Jose Roberto Taveras Galvan]

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

Name: Template de Presenter
Author:Jose Roberto Taveras
Description: Constantes usadas por las traducciones
--%>
<%@ Template Language="C#" TargetLanguage="C#"   %>
<%@ Property Name="NameSpaceUI" Category="Context" Type="System.String"%>
<%@ Property Name="Licence" Type="System.String"%>

//Author: Alejandrina Ten
//Email:athen@schad.do
//Description:  Constantes usadas por las traducciones
//Fecha:<%= DateTime.Now%>
//Licencia:<%=Licence%>
using System;
using System.Collections.Generic;
using System.Linq;

namespace <%=NameSpaceUI%>
{
    public class CommonConstants
    {
        public const string MessageExcepcion = "Ha ocurrido una excepción";
        public const string MessageNotice = "Aviso!!!";
        public const string MessageSavedFields = "Los datos fueron salvados";
        public const string MessageDeletedFields = "El registro fue eliminado!";
        public const string CreatedBy = "Creado";
        public const string ModifiedBy = "Modificado";
        public const string MessageFinding = "Buscando";
        public const string MessageOpenForm = "Para abrir el formulario ";
        public const string MessageCloseForm = " necesita cerrar otro.";
        public const string MessageMenuWithoutServices = "El menú que se solicita no esta disponible, favor contactar con desarrollo.";
        public const string MessageLocalization = "La localizacion";
        public const string MessageLocalizationNotValidate = " no es válida!!";
    }
}
<script runat="template">
</script>