<%-- 

MIT License

Copyright (c) [2020] [Jose Roberto Taveras Galvan]

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

Name: Template de Entity
Author:Jose Roberto Taveras
Description: Para usar integrado con wisej
--%>
<%@ Template Language="C#" TargetLanguage="C#"   %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="System.Data" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table to get the data from." %>
<%@ Map Name="SqlCSharp" Src="Sql-CSharp" Description="System to C# Type Map" %>
<%@ Property Name="NameSpaceBusinessObjects" Type="System.String"%>
<%@ Property Name="ClassName" Type="System.String"%>
<%@ Property Name="Licence" Type="System.String"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import NameSpace="System.IO" %>
<%@ Import NameSpace="System.Collections.Generic" %>

//Author: Jose Roberto Taveras
//Email:roberto.taveras@hotmail.com
//Description: Poco de entidad <%= ClassName%>
//Fecha:<%= DateTime.Now%>
//Licencia:<%=Licence%>

using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;
using System.Linq;
<%=UsingSpatial()%>
using <%=NameSpaceBusinessObjects%>.Interfaces;

namespace <%= NameSpaceBusinessObjects %>.Models {

    public partial class <%= ClassName %>  {
       
    }
}
 <script runat="template">

public string UsingSpatial(){
    List<string> lista = new List<string>();
    lista.Add("geography");
    lista.Add("geometry");
    bool result = false;
    for(int i = 0; i < SourceTable.Columns.Count; i++)
    {
        result = lista.Contains(SourceTable.Columns[i].NativeType);
        if(result)
            break;
    
    }
    return result ? "using System.Data.Entity.Spatial;":"";
}

public string test()
{ 

    string result ="";
    for(int i = 0; i < SourceTable.Columns.Count; i++)
        
    {
        
        if(SourceTable.Columns[i].IsForeignKeyMember)
        {
  
              var foreign =  SourceTable.ForeignKeys.Where( a => a.ForeignKeyMemberColumns.Where( b => b.Name == SourceTable.Columns[i].Name).Count() > 0 ).FirstOrDefault();
              if(foreign != null){
                 result += foreign.PrimaryKeyTable.Name;
                  result += foreign.PrimaryKeyTable.Columns[1].Name;
              }
             
            
        }
     
    }
    return result;
}



public string BuildProperties()
{
  
    string result ="";
    for(int i = 0; i < SourceTable.Columns.Count; i++)
    {
        
       result= string.Concat( result,DeclarationFromColumn(SourceTable.Columns[i]),"\t\t");
    }
    return result;
}

public string DeclarationFromColumn(ColumnSchema clm ) {

    var telefono = "TELEFONO";
    var phone = "PHONE";
    var mail    = "MAIL";
    var celular = "CELULAR";
    var mobil = "MOBIL";
    List<string> list = new List<string>();
    list.Add(telefono);
    list.Add(phone);
    list.Add(celular);
    list.Add(mobil);
    List<string> nonNull = new List<string>();
    nonNull.Add("string");
    nonNull.Add("DbGeography");
    nonNull.Add("DbGeometry");
    
    bool isNull = clm.AllowDBNull;
    var dataType = "";
    switch(clm.NativeType)
    {
        case "geography":
            dataType  = "DbGeography";
            break;
        case "geometry":
            dataType  = "DbGeometry";
            break;
        default:
            dataType = SqlCSharp[clm.NativeType];
            break;
        
    }
    bool isString =  dataType == "string";
    bool isKey = clm.IsPrimaryKeyMember;
    int size = clm.Size;
     
    var fieldName = clm.Name;

    if(!isString && isNull  && !nonNull.Contains(dataType)){
        return "public " + dataType +"? " + fieldName + " {get; set;}\n";
    }else {
        string result = "";
        if(isKey)
            result = "[Key]\n\t\t";
       
        if(!isNull){
            result = string.Concat(result,"[Required(ErrorMessage = \"Debe digitar el ", fieldName,"\")]\n\t\t");

        }
        
        if(isString){
             
            result = string.Concat("[MaxLength(",size.ToString(),",ErrorMessage = \"La cantidad maxima de caracteres para este campo es de "+size.ToString()+"\")]\n\t\t",result);
            var found = list.Where(a => fieldName.ToUpper().Contains( a )).Count() > 0;
            if(found)
                result = string.Concat("[Phone(ErrorMessage = \"Debe digitar un formato valido de telefono\")]\n\t\t",result);
            
            if(fieldName.ToUpper().Contains(mail))
                result = string.Concat("[EmailAddress(ErrorMessage = \"Debe digitar un formato valido de correo electronico\")]\n\t\t",result);
        }

         result = string.Concat(result,"public " + dataType +" " + fieldName + " {get; set;}\n");
 
        return result;
    }
}   
 </Script>