<%-- 
Name: Context para Dal
Author:Jose Roberto Taveras
Description: Para usar integrado con wisej
--%>
<%@ Template Language="C#" TargetLanguage="c#" %>
<%@ Property Name="NameSpaceBusinessObjects" Category="Context" Type="System.String"%>
<%@ Property Name="Licence" Type="System.String"%>

//Autor:Jose Roberto Taveras
//Email:roberto.taveras@hotmail.com
//Fecha:<%=DateTime.Now%>
//Licencia:<%=Licence%>

using <%=NameSpaceBusinessObjects%>.Models;
using System.Data.Entity;
using System.Data.Entity.Infrastructure;
using System.Resources;

namespace <%=NameSpaceBusinessObjects%>.Interfaces
{
    public interface IContext
    {
		ResourceManager ResourceManager { get; set; }
        
        void DetachAllEntities();
		
		string LocalizationName { get; set; }
		
        DbEntityEntry Entry(object entity);
		
        int SaveChanges();

        long TenantId { get; set; }
		
        string UserName { get; set; }
        //property no remueva esto usado por CodeSmith
    }
}
<script runat="template">
</script>