<%-- 
Name: Template de interface que debe implementar el presenter de busqueda
Author:Jose Roberto Taveras
Description: Para usar integrado con wisej
--%>
<%@ Template Language="C#" TargetLanguage="C#" %>
<%@ Property Name="NameSpaceBusinessObjects" Category="Context" Type="System.String"%>
<%@ Property Name="Licence" Type="System.String"%>

//Author: Jose Roberto Taveras
//Email:roberto.taveras@hotmail.com
//Description: Poco de entidad IPresenter
//Fecha:<%= DateTime.Now%>
//Licencia:<%=Licence%>

using System.Collections.Generic;
namespace <%=NameSpaceBusinessObjects%>.Interfaces
{
    public interface ISearchPresenter<T>
    {
        T FindById(int id);
        void Search();
        void DataBind(ISearch senderBusqueda);
        List<T> GetAll();
		IContext Context { get; }
    }
}
<script runat="template">
</script>