<%-- 
MIT License

Copyright (c) [2020] [Jose Roberto Taveras Galvan]

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

Name: Template de Entity
Author:Jose Roberto Taveras
Description: Para usar integrado con wisej
--%>
<%@ Template Language="C#" TargetLanguage="C#"   %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="System.Data" %>
<%@ Map Name="SqlCSharp" Src="Sql-CSharp" Description="System to C# Type Map" %>
<%@ Property Name="NameSpaceUI" Type="System.String"%>
<%@ Property Name="Licence" Type="System.String"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import NameSpace="System.IO" %>
<%@ Import NameSpace="System.Collections.Generic" %>

//Author: Jose Roberto Taveras
//Email:roberto.taveras@hotmail.com
//Description: control generico base 
//Fecha:<%= DateTime.Now%>
//Licencia:<%=Licence%>

using BusinessObjects.Interfaces;
using System;
using Wisej.Web;
using System.Linq;
using System.Collections.Generic;
using System.Reflection;

namespace <%=NameSpaceUI%>.Controls
{
    public partial class UserPopupSearch : Wisej.Web.UserPopup, ISearch
    {
        private object _search;
        public UserPopupSearch(object search)
        {
            InitializeComponent();
            textBoxSearch.CssStyle = "border-radius:10px 0px 0px 10px";
            buttonSearch.CssStyle = "border-radius:0px 10px 10px 0px";
            CssStyle = "border-radius:0px 10px 10px 10px";
            _search = search;
            dataBind();
        }

        public UserPopupSearch()
        {
            InitializeComponent();
        }

        public void dataBind()
        {
            Type objType = _search.GetType(); ;
            MethodInfo method = objType.GetMethod("DataBind");
            object found = method.Invoke(_search, new object[] { this });
            //_search.DataBind(this);
        }

        public object Id { get; set; }
        public object DataGridSource
        {
            get
            {
                return dataGridViewResult.DataSource;
            }
            set
            {
                dataGridViewResult.DataSource = value;
            }
        }
        public string ValueToSearch { get { return textBoxSearch.Text; } set { textBoxSearch.Text = value; } }

        private void buttonSearch_Click(object sender, EventArgs e)
        {
            try
            {
                Type objType = _search.GetType(); ;
                MethodInfo method = objType.GetMethod("Search");
                object found = method.Invoke(_search, new object[] { });
                //   _search.Search();
            }
            catch (Exception ex)
            {
                MessageBox.Show(ex.Message, "", MessageBoxButtons.OK, MessageBoxIcon.Error);
            }
        }

        private void textBoxSearch_KeyDown(object sender, KeyEventArgs e)
        {
            if (e.KeyCode == Keys.Enter)
            {
                buttonSearch_Click(null, null);
            }
        }

        private void dataGridViewResult_DoubleClick(object sender, EventArgs e)
        {
            if (this.dataGridViewResult.SelectedRows.Count > 0)
                Id = this.dataGridViewResult.SelectedRows[0][0].Value;

            this.Close();
        }
    }
}